@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Simple OAuth2 Authorization Server</h2>
        <ul>
            <li>Authorization URL: <code>/oauth2/authorization</code></li>
            <li>Token URL: <code>/oauth2/token</code></li>
        </ul>
    </div>
</div>
